.header
    position: relative
    height: 100vh
    background-image: url("./images/header_1.jpg")
    background-size: cover
    background-repeat: no-repeat
    transition: .5s

    .qoute
        position: absolute
        top: 10vw
        @include qoutes()
        margin-top: 100px
        div
            font-size: 3vw
.header-bg-changer
    animation: change_header_background ease-in-out 25s  infinite alternate
@keyframes change_header_background
    0%
        background-image: url("./images/header_5.jpg")
    20%
        background-image: url("./images/header_2.jpg")
    40%
        background-image: url("./images/header_3.jpg")
    80%
        background-image: url("./images/header_4.jpg")
    100%
        background-image: url("./images/header_1.jpg")
@media ( max-width: 650px )
    .header
        height: 600px
    
        
        
        